Flask==2.2.3
tensorflow==2.12.0  # Замените на вашу версию TensorFlow, если нужно
Werkzeug==2.2.2      # Для работы с безопасной загрузкой файлов
gunicorn==20.1.0     # WSGI сервер для запуска вашего Flask приложения
numpy==1.23.4        # Для работы с массивами и математическими вычислениями
Pillow==9.2.0